
// Colors
$color-theme:	#F03D3D !default;

// font
$color-text-black: #0A1F44 !default;
$color-text-gray: #8A94A6 !default;

// lighten($color-primary, 3% ~ 20%)    亮
// darken($color-primary, 3% ~ 20%)     暗